@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Iaas</h3>
    <p></p>
    <br />
    <h3>Paas</h3>
    <p></p>
    <br />
    <h3>Saas</h3>
    <p></p>
    <br />
</div>
